.menu-form {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: auto;
  grid-template-areas:
    "menu-label menu-label menu-label menu-label"
    "menu-input menu-input menu-input menu-input"
    "deadline-label deadline-input remind-label remind-input"
    "menu-submit menu-submit menu-submit menu-submit";
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.menu-label {
  grid-area: menu-label;
}

.menu-input {
  grid-area: menu-input;
  padding: 10px;
}

.deadline-label {
  grid-area: deadline-label;
}

.deadline-input {
  grid-area: deadline-input;
  justify-self: flex-end;
  border: 2px solid #000;
  min-width: 8rem;
  max-width: 12rem;
}

.deadline-input input,
.remind-input input {
  padding: 6px 0;
  text-align: center;
}

.deadline-input::before,
.remind-input::before {
  content: "\1F55D";
  position: absolute;
  left: 1.5rem;
}

.remind-label {
  grid-area: remind-label;
}

.remind-input {
  grid-area: remind-input;
  justify-self: flex-end;
  border: 2px solid #000;
  min-width: 8rem;
  max-width: 12rem;
}

.menu-submit {
  grid-area: menu-submit;
  display: inline-block;
  justify-self: flex-end;
  width: 200px;
}
