@import "../styles/mixins";

@include keyframes(loading) {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

.page-loading {
  display: flex;
  width: 100%;
  height: calc(100vh - 3rem);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 50px 0;
  .loading-bar {
    display: inline-block;
    width: 8px;
    height: 50px;
    border-radius: 8px;
    margin: auto 5px;
    @include animation("loading 1s ease-in-out infinite");
    &:nth-child(1) {
      background-color: #3498db;
      animation-delay: 0;
    }
    &:nth-child(2) {
      background-color: #c0392b;
      animation-delay: 0.09s;
    }
    &:nth-child(3) {
      background-color: #f1c40f;
      animation-delay: 0.18s;
    }
    &:nth-child(4) {
      background-color: #27ae60;
      animation-delay: 0.27s;
    }
  }
}
