@import "../styles/mixins";

@include keyframes(Gradient) {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-image: linear-gradient(75deg, red, green, blue);
  background-size: 400% 100%;
  box-shadow: 0px -2px 5px #000;
  z-index: 999;
  @include animation("Gradient 1s linear infinite");
}
