.Login {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-img {
  max-width: 100%;
  width: 200px;
  height: auto;
  margin: auto;
}
